@import "tailwindcss";

.button {
  @apply h-10 rounded-lg w-max px-6 bg-white text-blue-600 font-medium cursor-pointer hover:opacity-70 block;
}

.button-green {
  @apply bg-green-500 text-white;
}

.button-red {
  @apply bg-red-700 text-white;
}

.button-gray {
  @apply bg-gray-500 text-white;
}

.checkboxWrapper input {
  display: none;
}

.checkbox.red {
  @apply bg-red-700;
}

.checkbox.yellow {
  @apply bg-yellow-300;
}

.checkbox.blue {
  @apply bg-blue-600;
}

.checkbox {
  @apply bg-black;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px;
  position: relative;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.checkboxWrapper input:checked + .checkbox:after {
  background-color: inherit;
}

.bg-opacity {
  background-color: rgb(0, 0, 0, 0.3);
}

.task {
  display: flex;
  margin-bottom: 16px;
}
.task:last-child {
  margin-bottom: 0;
}

.openTask {
  overflow: hidden;
  animation: openTask 0.5s ease forwards;
}

.closeTask {
  overflow: hidden;
  animation: closeTask 0.5s ease forwards;
}

.smoothOpen {
  animation: smoothOpen 0.5s ease forwards;
}

.smoothClose {
  animation: smoothClose 0.5s ease forwards;
}

.openError {
  animation: openError 0.5s ease forwards;
}

.closeError {
  animation: closeError 0.5s ease forwards;
}

@keyframes smoothClose {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes smoothOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes closeTask {
  0% {
    max-height: 100px;
    margin-bottom: 16px;
  }

  100% {
    max-height: 0;
    margin-bottom: 0;
  }
}

@keyframes openTask {
  0% {
    max-height: 0;
    margin-bottom: 0;
  }

  100% {
    max-height: 100px;
    margin-bottom: 16px;
  }
}

@keyframes openError {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes closeError {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
